#loginTransition {
    background: rgba(255, 206, 9, 0.516);
    height: 100vh
}

#loginWait {
    text-align: center;
    padding-top: 30vh;
}

#loginWait h1{
    font-size: 7vh;
}

#loginWait h2{
    font-size: 4vh;
}